:root {
  --main-text-color: #212121;
  --add-text-color: #757575;
  --accent-color: #2196f3;
  --bg-color: #fff;
  --color-address: #ffffff99;
  --add-bg-color: #f5f4fa;
  --contrast-bg-color: #2f303a;
  --border-color: #ececec;
  --title-font: "Roboto", sans-serif;
  --grid-column: 3;
}
/* доп цвета для лого #000  #fff */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", noto, segoe ui, arial, sans-serif;
  color: var(--main-text-color);
  background-color: var(--bg-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--add-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/*logo+header+footer*/

.header-part {
  border-bottom: 1px solid var(--border-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  display: flex;
}

.nav-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
  justify-content: space-between;
  width: 294px;
}

.nav-item {
  color: var(--main-text-color);
}

.current {
  color: var(--accent-color);
}

.contact-header {
  display: flex;
}

.contact-item:not(:last-child) {
  margin-left: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo > .logo-up {
  color: #000;
}
.logo > .logo-down {
  color: #fff;
}

.footer-part {
  background-color: var(--contrast-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-address {
  margin-top: 20px;
}

.list-address-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--bg-color);
  font-style: normal;
  margin-top: 9px;
}

.contact-footer-color {
  color: var(--color-address);
}

/*index hero+main*/

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-color);
  margin-bottom: 30px;
}

.hero-section {
  background-color: var(--contrast-bg-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.button-order {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  min-height: 200;
  min-width: 50;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
}

.flex-container-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: left;
}

.practice-section {
  padding-bottom: 94px;
}

.title {
  color: var(--main-text-color);
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.filter-project {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.item {
  flex-basis: calc((100% - 30px * var(--grid-column)) / var(--grid-column));
  margin-left: 30px;
  margin-top: 30px;
}

.team .item,
.features .item {
  --grid-column: 4;
}

.features-title {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--add-text-color);
  margin-bottom: 0;
}

.team {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-section {
  background-color: var(--add-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .item {
  background-color: var(--bg-color);
}

.team-title {
  font-weight: 500;
  color: var(--main-text-color);
  font-size: 16px;
  margin-bottom: 10px;
}

.team-description {
  color: var(--add-text-color);
}

/*portfolio mail*/

.portfolio-section {
  padding-top: 86px;
  padding-bottom: 102px;
}

.button-filter-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  font-family: inherit;
  min-height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: 8px;
  border: 0;
  border-radius: 4px;
}

.button-filter-portfolio-first {
  margin-left: 0;
}

.button-filter-portfolio:hover,
.button-filter-portfolio:focus {
  color: var(--bg-color);
  background-color: var(--accent-color);
}

.portfolio-description {
  padding: 20px 24px;
}

.title-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.type-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-list {
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
}

.portfolio-card {
  flex-basis: calc((100% - 30px * var(--grid-column)) / var(--grid-column));
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
